*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: rebeccapurple;
    background-color: rgba(128, 128, 128, 0.247);
}

.titulo_seccion{
    color: blue;
    border-color: black;
    border-top: 3px;
    height: 30px;
    background-color: azure;
}

.boton_1{
    background-color: bisque;
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    
}

.boton_1:hover{
    background-color: rgb(224, 143, 44);
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    transition-duration: 1s;
}
.label_1{
    background-color: beige
}

.label_2{
    background-color: aqua;
}

.fondo_1{
    background-color: rgba(165, 42, 42, 0.418);
}
    /*
.prueba {
    color: blue;
    font-size: 30px;
}

·unico{
    color: red;
}

.contenedor{
    background-color: bisque;
    height: 200px;
    padding: 10px;

}

.contenedor button{
    background-color: bisque;
    height: 200px;
    padding: 11px;
    border: 1px solid black;
    transition-duration: 5000ms;
}

.contenedor button:hover{
    background-color: blueviolet;
    padding: 12px;

}  */