*{
    margin: 0;
    padding: 0;
    
}


body header{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px 0px 10px 20px;;
}

body header img{
    width: 130px;
    height: 50px;
}

.Menu_bar{
    width: 40px; 
    height: 40px; 
}

body header input{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    background-color: rgba(128, 128, 128, 0.312); 
    width: 350px; 
    height: 50px;
    border-radius:40px;
    border: none; 
    font-size: 17px; 
    
}
main{
    background-color: aqua;
    width: 100%;
    display: flex;
    
}
.Seccion1{
    background-color:black;
    width: 70%;
    padding: 10px 10px 10px 25px ;
}

.Seccion1 img{
    width: 100%;
   border-radius: 10px;
   display: flex;
}

.Seccion1 article{
    background-color: #8224E3;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 10px 0px 10px;
    display: flex;
    
}

.Seccion1 div h1{
    color: aliceblue;
    font-size: 25px;
    padding-bottom: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.Seccion1 div p{
    
    color:white;
    font-family: 'Courier New', Courier, monospace;
}

.Seccion1 button{
    background-color: black;
    color: white;
    border-radius:40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 250px;
    height: 70px;
}

.Seccion1 button:hover{
    background-color: black;
    color: #5724e3;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    width: 250px;
    height: 70px;
    cursor: pointer;
}



.Seccion1_2{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.Seccion2{
    background-color: bisque;
    width: 30%;
}

.Seccion2 article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #aaa;
    
}

.Seccion2 article div{
    display: flex;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background-color: #1C1C1C;
}

.Seccion2 article button{
    background-color: #5724e3;
    color: white;
    font-weight: bold;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 40px;
    cursor: pointer;

}

.Seccion2 article div button{
    background-color: #262626;
    color: rgba(128, 128, 128, 0.829);
    width: 200px;
    margin-left: 10px;
    border: none;
}





/*Estilos del footer*/

/*pie de pagina*/
footer {
    text-align: center;
    color: #aaa;
    font-size: 0.9rem;
    padding: 1.5rem;
    background-color: #1C1C1C; /* Fondo de color gris oscuro */

}

.Lista_botones{
            display: flex;
            justify-content: center;
            gap: 6px;
            margin: 1rem;
            
}

.Lista_botones a {
    display: inline-block;
    padding: 0.5rem;
    background-color: #8224E3;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
 




footer .buttons {
    margin-top: 1rem;
}
footer .button {
    padding: 0.4rem 1rem;
    margin: 0 0.5rem;
    background-color: #2D2D2D;
    color: rgba(128, 128, 128, 0.705);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
footer .button:hover {
    color: rgba(233, 233, 233, 0.705);
}